<% if params[:tag] %>
  <h1>Brews matching: <%= params[:tag] %></h1>
<% else %>
  <h1>Listing brews</h1>
<% end %>

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Brewer</th>
    <th>IBU</th>
    <th>ABV</th>
    <th>Tags</th>
  </tr>

<% @brews.each do |brew| %>
  <tr>
    <td><%= brew.name %></td>
    <td><%= brew.description %></td>
    <td><%= brew.brewer.name %></td>
    <td><%= brew.ibu %></td>
    <td><%= brew.abv %></td>
    <td><%= brew.tag_list %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brew', new_brew_path %>
