<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brew.name %>
</p>

<p>
  <b>Description:</b>
  <%= @brew.description %>
</p>

<p>
  <b>Brewer:</b>
  <%= Brewer.find(@brew.brewer_id).name %>
</p>

<p>
  <b>IBU:</b>
  <%= @brew.ibu %>
</p>

<p>
  <b>ABV:</b>
  <%= @brew.abv %>
</p>

<%= link_to 'Edit', edit_brew_path(@brew) %> |
<%= link_to 'Back', brews_path %>
